
<div class="container">
    <div *ngFor="let note of NotesList">
    <div class="sub-container" [style.background]="note.color">
    <form>
        <div (click)="openDialog(note)">
        <div class="title">
            <p>{{note.title}}
            <img class="img" src="../../../assets/push_pin.svg"></p>
        </div>
        <div class="description">
            <p>{{note.description}}</p>
        </div>
        </div>
        <div class="hidden">
            <app-iconcomp [notecomp]="note"></app-iconcomp>
        </div>
    </form>
    </div>
    </div>
</div>





