<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <img class="project-name" src="../../../assets/keeplogo.png">
      <h1 class="example-app-name">
                <span style="color: blue;">F</span>
                <span style="color: red;">u</span>
                <span style="color: yellow;">n</span>
                <span style="color: green;">d</span>
                <span style="color: red;">o</span>
                <span style="color: blue;">o</span>
      </h1>
      <div>
        <form class="search-submit">
            <button type="submit" class="search-button">Search</button>
            <input class="search" type="search" placeholder="Search...">
        </form>
      </div>
      <div class="three-btn">
        <img class="refresh-btn" src="../../../assets/refresh.svg">
        <img class="view-list-btn" src="../../../assets/view_list.svg" alt="list-menu">
        <img class="settings-btn" src="../../../assets/settings.svg">
        <img class="apps" src="../../../assets/apps.svg">
        <img class="acoount-image" src="../../../assets/account_circle.svg">
    </div>

    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <div class="icon1">
          <img class="icon2" src="../../../assets/notes.svg"> <a mat-list-item routerLink="/dashboard/notes">Notes</a>
          </div>
          <div class="icon1">
            <img class="icon2" src="../../../assets/notes.svg"> <a mat-list-item routerLink="/dashboard/demo">Demo</a>
            </div>
          <div class="icon1">
            <img class="icon2" src="../../../assets/reminder.svg"><a mat-list-item routerLink=".">Reminder</a>
          </div>
          <div class="icon1">
            <img class="icon2" src="../../../assets/edit_FILL0_wght400_GRAD0_opsz48.svg"><a mat-list-item routerLink=".">Edit Label</a>
          </div>
          <div class="icon1">
            <img class="icon2" src="../../../assets/archive_FILL0_wght400_GRAD0_opsz48.svg"><a mat-list-item routerLink=".">Archive</a>
          </div>
    
          <div class="icon1">
            <img class="icon2" src="../../../assets/delete_FILL0_wght400_GRAD0_opsz48.svg"><a mat-list-item routerLink=".">Trash</a>
          </div>
        </mat-nav-list>
        
      </mat-sidenav>
  
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  
