<div class="container">
<!--header-->
    <div class="header">
        <!--Logo-->
        <div class="Logo-name">
            <h1>
            <span style="color:blue;">F</span>
            <span style="color:red;">U</span>
            <span style="color:yellow;">N</span>
            <span style="color:green;">D</span>
            <span style="color:red;">O</span>
            <span style="color:blue;">O</span>
            </h1>
            <h2 class="heading">Forget Password</h2>
            <h3 class="sub-heading">Enter your phone number or recovery email</h3>
        </div>
    </div>
    <form>
        <div class="email">
            <div class="email-class">
                <mat-form-field appearance="outline" style="width:23vw;">
                    <mat-label>Email</mat-label>
                   <input matInput formControlName="email" placeholder="">
                   <mat-error>Enter valid email</mat-error>
               </mat-form-field>
            </div>
        </div>
    </form>
    <div class="route-btn">
        <button mat-button class="reset" >Reset password</button>
        <button class="btn-next" mat-flat-button  color="primary">Submit</button>
    </div>
</div>